.relatedProducts {
  margin-bottom: 5rem;
  width: 100%;
}

.arrow {
  color: #151f32cc;
}

.arrow:hover {
  color: #151f3299;
}

.title{
  text-shadow: 0.15rem 0.15rem 0.15rem #151f3233;
  color: #151f32;
  font-weight: 700;
}
