.relatedProducts {
  margin-bottom: 5rem;
  width: 100%;
}

.relatedProducts :global(.vtex-shelf-1-x-title) {
  text-shadow: 0.15rem 0.15rem 0.15rem #151f3233;
  color: #151f32;
  font-weight: 700;
}
