.listPrice {
  color: #727273;
  font-size: 1rem;
  font-weight: 500;
}

.savings,
.savings--summary {
  font-size: 1rem;
  color: #0a7450;
  font-weight: 700;
}

.sellingPriceValue {
  color: #151f32;
  font-size: 1.2rem;
  font-weight: 600;
}
