.savings,
.savings--summary,
.listPrice {
  text-shadow: 0 0.0 0.15rem #e7e7e7d7;
}

.listPrice {
  color: red;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.savings,
.savings--summary {
  color: #0a742a;
  font-weight: 500;
  padding: .6rem;
}

.sellingPrice,
.sellingPrice--summary-slider-home {
  width: 100%;
}

.sellingPriceValue {
  width: 100%;
  background-color: #151f32;
  color:  #ffc047;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.2rem 2.5rem;
  border-radius: 4px;
}

.installments {
  color: #0a742a;
  font-weight: 700;
 }


