/* Flex Layout Header */
.flexRowContent.flexRowContent--header,
.flexRowContent.flexRowContent--header-mobile {
  background-color: #151f32;
  justify-content: space-between;
  align-items: center;
}

.flexRowContent.flexRowContent--header {
  padding: 0.75rem 2.5rem 0.5rem;
}

.flexRowContent.flexRowContent--header-mobile {
  padding-left: 18px;
  padding-right: 18px;
}

.flexCol.flexCol--header,
.flexCol.flexCol--header-mobile {
  flex-direction: row;
  align-items: center;
}

/* Flex layout search result */
.flexRow--container-desktop {
  margin: 20px 93px;
  max-width: 1350px;
}

.flexRow--container-mobile {
  margin: 30px;
}

/* Flex Layout Footer */
.flexRowContent--footer-copyright {
  background: #151f32;
  width: 100%;
}

/* PDP */
.flexCol--productOne {
  box-sizing: border-box;
  max-width: 400px;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-top: 5px solid #151f32;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.29);
text-align: center;
}

.flexColChild--productOne {
  width: 100%;
}

.flexCol--productOne :global(.vtex-button) {
  background: linear-gradient(180deg, #ffc047 0, #fea600);
  border-color: #fbb03b #fea600 #fea600;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #ffffff;
  width: 12rem;
}

.flexCol--productOne :global(.vtex-button):hover {
  background: linear-gradient(180deg, #ffc047 0, #fbb03b);
  transition: all 0.15s ease-in;
}

/* Home */
.flexRowContent--price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
