/* Search Results Page */
/* .imageContainer--image-search-result,
.image--image-search-result, */
.imageContainer,
.imageNormal,
.image {
  max-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameContainer {
  line-height: 1.4;
  padding: .8rem 0 0;
}

.productNameContainer,
.productBrand,
.description,
.currencyContainer,
.price_installmentContainer,
.price_listPriceLabel,
.price_sellingPriceLabel,
.element :global(.vtex-button) {
  text-shadow: 0.15rem 0.15rem 0.15rem #ecebebc2;
}

.productNameContainer,
.productBrand {
  color: #007dbc;
  font-size: 1.1rem;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.4;
  width: 100%;
}

.description {
  color: red;
  font-size: 1.1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price_sellingPriceLabel,
.price_installmentContainer {
  color: #0a742a;
  font-weight: 600;
  margin-bottom: .2rem;
}

.priceContainer,
.productPriceClass,
.sellingPriceContainer,
.sellingPrice,
.currencyContainer,
.price_className,
.price_sellingPriceContainer,
.price_sellingPrice {
  padding: 0;
  width: 100%;
}

.price_sellingPriceContainer .currencyContainer {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 800;
  color: #151f32;
}

.spacer {
  height: 1rem;
}

.element {
  padding: 0;
}

.buyButton :global(.vtex-button),
.element :global(.vtex-button) {
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffc047 0, #fea600);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-color: #fbb03b #fea600 #fea600;
  color: #fcfcfc;
  height: 2.5rem;
  width: 98%;
  padding: 0 1rem;
  font-size: 0.95rem;
  font-style: italic;
  font-weight: 700;
  border-radius: 0 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.04);
}

.buyButton :global(.vtex-button):hover,
.element :global(.vtex-button):hover {
  background: linear-gradient(180deg, #ffc047 0, #fbb03b);
  transition: all 0.15s ease-in;
}

.containerNormal {
  margin: 0 0 3rem 3rem;
  width: 16rem;
  border-radius: 0 0.5rem;
  padding: 0.7rem;
  background-color: #f8f8f8c2;
  box-shadow: 0.125rem 0.125rem 0.25rem 0 #151f3233;
  border: #151f3233 solid 0.001rem;
  max-height: 22rem;
}
